@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berlin";
  src: url("./fonts/BRLNSR.TTF");
}

@font-face {
  font-family: "Berlin-Bold";
  src: url("./fonts/BRLNSB.TTF");
}

.swipe {
  position: absolute;
  width: auto;
  margin: 70px;
}

.relative-container {
  position: relative;
  width: 100%;
  height: 60vh; /* Adjust based on your requirements */
  display: flex;
  justify-content: center;
  align-items: center;
}



.card {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {
}

#tinderCardContainer {
  box-shadow:
      inset 0 -4px 4px rgba(0, 0, 0, 0.5),
      /*bottom internal shadow*/
      inset -4px 0 0 rgba(0, 0, 0, 0.2),
        /*bottom internal shadow*/
      inset 0 0 4px 4px rgba(0, 0, 0, 0.2),
        /*bottom internal shadow*/
      inset 0 4px 4px rgba(255, 255, 255, 0.9);
      /*top internal highlight*/
}

#main-view {
  opacity: 0;
  transition: opacity 1s ease;
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  padding-top: env(safe-area-inset-top);

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  font-family: 'Luckiest Guy', cursive;
}



/* /////////// */
.win-modal {
  z-index: 99;
}
.loading-modal {
  z-index: 99;

}
.race-board {
  z-index: 99;
}


@media (max-width: 375px) { /* iPhone SE width */
  .mobile-image-rh {
    margin-top: -120px; /* Adjust this value as needed */
  }
}

/* TEARS DOG */
/* TEARS DOG */
/* TEARS DOG */

.tears {
  z-index: 10
}

.tears::before, .tears::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 12px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: 0 0 rgba(124, 185, 232, 0.8);
  background: rgba(124, 185, 232, 0.8);
  top: 40%;
  left: 50%;
  animation: 
    2s gentleBang ease-out infinite,
    2s fall ease-in infinite;
  animation-delay: -4s, -2s;
}

.tears::after {
  animation-delay: -3.75s, -1.75s;
}

@keyframes gentleBang {
  0%, 20% {
    box-shadow: 0 0 #7cb9e8;
  }
  100% {
    box-shadow: 
      251px -108px #7cb9e8,
      -122px -201px #7cb9e8,
      150px -152px #7cb9e8,
      -156px -95px #7cb9e8,
      -73px -105px #7cb9e8,
      -126px -195px #7cb9e8,
      -177px -197px #7cb9e8,
      42px -141px #7cb9e8,
      -114px -89px #7cb9e8,
      177px -187px #7cb9e8,
      150px -152px #7cb9e8,
      -156px -195px #7cb9e8,
      -114px -89px #7cb9e8,
      177px -187px #7cb9e8,
      -73px -105px #7cb9e8,
      -126px -195px #7cb9e8,
      42px -141px #7cb9e8,
      -177px -197px #7cb9e8;
  }
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(800px);
    opacity: 0;
  }
}
